// {
//     "presets": ["@babel/preset-env", "@babel/preset-react"]
// }
{
    "env": {
        "development": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
        },
        "production": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        }
    }
}
// module.exports = function () {
//     const presets = ["@babel/preset-env", "@babel/preset-react"];
//     // const babelrcRoots = ["*"]
//     return {
//         presets
//     }
// }